DATABASE_URL=file:./data/mitrakost.db
NODE_ENV=development
PORT=3002

# Upload
UPLOAD_DIR=./data/uploads

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=mitrakostsumedang@gmail.com
SMTP_PASS=
ADMIN_EMAIL=mitrakostsumedang@gmail.com

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_KEY=
GOOGLE_SHEET_ID=1hF_mndbx3BEukXVFIrNV3Q2qvZr8oZeFzJhB49iBBsQ

# Site URL
PUBLIC_URL=https://mitrakost.essentiallyour.com
